#wrapper

  .center
    - if current_user 
      =link_to "<h1>Context</h1>".html_safe, root_path, id: "header"
      .logged_in_section{style: "background-image:url('#{current_user.bgpic}');border: 5px solid #{ave_color(30)};"} 
        .profile_card
          .profile_top
            =image_tag current_user.picture, class: "profile_img"
            .profile_text
              =current_user.name

          %hr

          %p.grey.infotext
            Search any user's network for contexually-related tweets.
            %br
            %br Paste a tweet URL into the input box below or select a recent tweet from your feed to begin.         

        .recent_tweets
          %h2.recent_tweets_header Recent Tweets
          - if @user_feed != []
            .tweet_container= render partial: 'tweets'

      .center
        = form_for @tweet, remote: true do |t|
          = t.text_field :url, class: "biginput show_twitter_icon"
          = t.submit "Contextualize", class: "submit_button"

      .center#results{style: "display:none"}
      

    - else
      #not_logged_in
        =link_to "<h1>Context</h1>".html_safe, root_path, id: "header", style: "font-size:180px;line-height:180px;"
        %p.intro_text.center Demystify vague tweets.
        %a.twitter_button_link{href: "/auth/twitter"}
          .sign_in_button.center
            .twitter_button_text Sign in with Twitter
            :javascript
              $(document).ready(function () {

                change();

                function change() {
                  $('body').animate({
                    backgroundColor: "#8b412b"
                  }, 5000);
                  $('body').animate({
                    backgroundColor: "#952a91"
                  }, 5000);
                  $('body').animate({
                    backgroundColor: "#34278b"
                  }, 5000);
                  $('body').animate({
                    backgroundColor: "#288b3e"
                  }, 5000);

                  change();
                }

              });

             





