<!DOCTYPE html>
<html>
<head>
  <title>Dramatic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <%= yield %>
</div>

<div class="footer">by <%= link_to "Greg Ward", "https://github.com/makeready" %> &amp; <%= link_to "Leopold Wicht", "https://github.com/glopoel" %></div>

</body>
</html>
